// .header{
//     background-color: $primary-color;
//     color: #fff;
//     .logo{
//         width: 80px;
//     }
// }


  


.nav{
    padding: 0px 88px;
    
    .logo{
        width: 80px;
        
    }


    @include pad-992{
        padding: 0 40px;
    }

    @include phone-767{
       padding: 0;
       .logo{
           padding: 10px 0; 
       }
     }
}




.navbar a{
    color:#fff;
    font-size: 20px;
    padding: 40px 32px 40px 32px;

    @include link-hover{
        background-color:$secondary-color;
    }
   

    @include pad-992{
        padding-left: 40px;  
    }

    @include phone-767{
       padding: 8px 0;
       text-align: center;
       border:$light-border;
    }
}


