.banner {
    background: url(../images/banner.png) no-repeat center center;
    background-size: cover;
    // background-attachment: fixed;
    height: 840px;

    span{
        display: block;
        color:$secondary-color;
        font-family: $en-font-family;
    }
    @include phone-767{
        height: 394px;
    }
}

.banner-text{
    font-size: $base-font-size * 4; // 64
    font-weight: bold;

    @include pad-992{
        font-size: $base-font-size * 3; // 48
    }

    @include phone-767{
        font-size: $base-font-size * 2; // 32
    }


}


.service-list{
    li{
        width: 20%;
        margin-bottom: 80px;
        
        
        @include pad-992{
            width: 35%;
            margin-bottom: 57px;
        }
        @include phone-767{
            width: 70%;
        }
    }
    img{
        @include size(100px);
        margin-bottom: 40px;
        @include pad-992{
            @include size(80px);
            margin-bottom: 16px;
        }
    }
    
}


.series-list{
    
    img{
        width: 60%;
        // object-fit: cover;

        @include pad-992{
            width: 55%;
        }

        @include phone-767{
            width: 100%;
        }
    }
}

.series-item{
    
    h3{

        @include phone-767{
            position: absolute;
            color:$primary-color;
        }

        @include before(48px,48px){
            background:url(../images/icon-diamond.svg) no-repeat center;
            background-size: contain;
            margin-right: 8px;
            vertical-align:bottom;

            @include pad-992{
                @include size(32px)
            }

            @include phone-767{
                background:url(../images/icon-diamond.svg) no-repeat center;
                background-size: contain;
            }
        }
    }

    &:nth-child(2){
        h3{
            @include before(48px,48px){
                background:url(../images/icon-sun.svg) no-repeat center;
                background-size: contain;
                @include pad-992{
                    @include size(32px)
                }
                @include phone-767{
                    background:url(../images/icon-sun.svg) no-repeat center;
                background-size: contain;
                }
            } 
        }
    }

    &:nth-child(3){
        h3{
            @include before(48px,48px){
                background:url(../images/icon-thunder.svg) no-repeat center;
                background-size: contain;
                @include pad-992{
                    @include size(32px)
                }
                @include phone-767{
                    background:url(../images/icon-thunder.svg) no-repeat center;
                background-size: contain;
                }
            } 
        }
    }
    
}



.design{
    background: url(../images/bg.png) no-repeat center;
    // background-attachment: fixed;
    background-size: cover;
  

}

.design-item{
    width: 50%;
    position: relative;

    a{

       @include before(100%,100%){
           position: absolute;
           left: 0;
           top: 0;
           background-color: rgba(255,255,255,0.5);
            transition:all 0.5s;
       }

       &:hover{
           &::before{
            background-color: rgba(255,255,255,0); 
           }
       }
    }
     @include phone-767{
         width: 100%;
     } 

   h3{
       font-size: 72px;
       position: absolute;

       @include pad-992{
        font-size: 48px;
    }
       @include phone-767{
           font-size: 32px;
       }
   }
  
}



