.card{
    .card-item{
        width: 100%;
        padding:0 16px;
    
        @include pad-992{
            width: calc(100%/2);
            img{
                width: 100%;
            }
        }
    
        @include phone-767{
            width: 100%;
        }
    
        &-text{
            border:$dark-border;
            padding: 16px;
    
             p{
                 font-family: $tc-font-family;
               }
        }
    
    .card-name{
        font-size: 14px;
        font-weight: 500 ;
        margin-bottom: 8px;
    
        @include pad-992{
           margin-bottom: 16px;
        }
    }
    
    .card-content{
        font-size: 16px;
        height: 108px;
    }
    
    .card-time{
        font-size: 14px;
        color:#707070;
    }
    
    
    }
    
}



