.ml{
    &-base{
        margin-left:$spacing ; // 8px
    }
    &-1{ 
        margin-left: $spacing*2; // 16px
    }
    &-2{
        margin-left: $spacing*2.5; // 20px
    }
    &-3{
        margin-left: $spacing*3.75;// 30px
    }
    &-8{
        margin-left: $spacing*8; // 64px
    }

    @include pad-992{
         &-md-0{
             margin-left: 0; 
         }
         &-md-1{
            margin-left: $spacing*1; // 8px
         }
     }

    @include phone-767{
        &-sm-0{
            margin-left: 0;
        }
        &-sm-1{
            margin-left: $spacing*0.5; // 4px
        }
        &-sm-2{
            margin-left: $spacing*1.5; // 12px
        }
     }
}

.mr{
    &-1{
        margin-right: $spacing*1; //8px
    }
    &-2{
        margin-right: $spacing*3; // 24px
    }
    &-3{
        margin-right: $spacing*3.75; // 30px
    }
    &-4{
        margin-right: $spacing*4; //32px
    }
    &-6{
        margin-right: $spacing*6; //48px
    }

    @include pad-992{
        &-md-0{
            margin-right: $spacing*0;
        }
    
        &-md-2{
            margin-right: $spacing*2; //16px
        }
        &-md-3{
            margin-right: $spacing*3; //24px
        }
        &-md-4{
            margin-right: $spacing*3.75; //30px
        }
        &-md-5{
            margin-right: $spacing*5; //40px
        }
    }

    @include phone-767{
        &-sm-0{
            margin-right: 0;
        }
        &-sm-1{
            margin-right: $spacing; //8px
        }
    }
}

.mb{
    &-gap{
        margin-bottom: 4px;
    }

    &-1{
        margin-bottom: $spacing*2; //16px
    }
    &-2{
        margin-bottom: $spacing*2.25; //18px
    }
    &-3{
        margin-bottom:$spacing*3;//24px
    }
    &-4{
        margin-bottom:$spacing*4;//32px
    }
    &-4-1{
    margin-bottom:$spacing*4.5;//36px
}
    &-5{
        margin-bottom:$spacing*5;//40px
    }
    &-6{
        margin-bottom:$spacing*7.5;//60px
    }
    &-8{
        margin-bottom: $spacing*8;//64px
    }
    &-9{
       margin-bottom: $spacing*11; //88px
    }
    &-10{
        margin-bottom: $spacing*10; //80px
     }
     &-11{
        margin-bottom: $spacing*11; //88px
     }
     &-12{
        margin-bottom: $spacing*12; //96px
     }
     &-13{
        margin-bottom: $spacing*13; //104px
     }
     &-20{
        margin-bottom: $spacing*20; //160px
     }

    @include pad-992{
        &-md-0{
            margin-bottom: $spacing*0;
        }
        &-md-1{
            margin-bottom: $spacing*1; //8px
        }
        &-md-2{
            margin-bottom: $spacing*2; //16px
        }
        &-md-2_5{
            margin-bottom: $spacing*2.5; //20px
        }
        &-md-3{
           margin-bottom: $spacing*3 ; //24px
        }
        &-md-4{
        margin-bottom: $spacing*3.5 ;//28px
        }
        &-md-5{
        margin-bottom: $spacing*4;//32px
        }
        &-md-6{
        margin-bottom: $spacing*5 ;//40px
        }
        &-md-9{
        margin-bottom: $spacing*9;//72px
        }
        &-md-10{
            margin-bottom: $spacing*10;//80px
            }
        &-md-12{
                margin-bottom: $spacing*12;//96px
               } 
        &-md-13{
        margin-bottom: $spacing*13;//104px
       }
    }

    @include phone-767{
        &-sm-1{
            margin-bottom: $spacing*1;  //8px
        }
        &-sm-1_5{
            margin-bottom: $spacing*1.5; //12px
        }
        &-sm-2{
            margin-bottom: $spacing*2; //16px
        }
       &-sm-3{
           margin-bottom: $spacing*2.25;//18px
       }
       &-sm-4{
        margin-bottom: $spacing*2.5; //20px
       }
       &-sm-5{
        margin-bottom: $spacing*3; //24px
       }
       &-sm-6{
        margin-bottom: $spacing*3.75 ;//30px
       }
       &-sm-7{
        margin-bottom: $spacing*4;//32px
       }
       &-sm-8{
        margin-bottom: $spacing*5;//40px
       }
       &-sm-9{
        margin-bottom: $spacing*7;//56px
       }
    }
}

.mt{

   
    &-12{
        margin-top: $spacing*12; //96px
    }
    @include pad-992{
        &-md-6{
            margin-top: $spacing*7.5; //60px
        }
    @include phone-767{
        &-sm-4{
           
                margin-top: $spacing*3.5; //28px
           
        }
    }
}




.pl{
    &-10{
        padding-left: $spacing*13; //104px
    }
    @include pad-992{
        &-md-8{
            padding-left: $spacing*7.5; //60px
        }
    }
    @include phone-767{
        &-sm-0{
            padding-left: 0;
        }
    }
}

.pt{
    &-8{
        padding-top: $spacing*8;//64px
    }


    @include pad-992{
        &-md-5{
            padding-top: $spacing*5;//40px
        }
      
    }
}

.pb{
    &-8{
        padding-bottom: $spacing*8; //64px
    }
    &-10{
        padding-bottom: $spacing*10; //80px
    }

   
}

}

.py{
    &-8{
        
        padding-bottom: $spacing*8;
    }
    @include pad-992{
        &-md-5{
            padding-top: $spacing*5;
            padding-bottom: $spacing*5;
        }
      
    }
    @include phone-767{
        &-sm-4{
            padding-top: $spacing*4;
            padding-bottom: $spacing*4;
        }
    }
}